@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

body{
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    font-family: 'Lexend', sans-serif;
}

input:focus{
    outline: none;
}

#walls{
    font-family: 'Reem Kufi', sans-serif;
}

#header{
    width: 70%;
    margin: 0 auto;
    margin-top: 6%;
    padding: 8px;
    font-size: 2.4em;
    font-weight: bold;
    color: #fff;
}

.container{
    margin: 0 auto;
    width: 70%;
    height: 58%;  
    display: flex;
    justify-content: space-between;
}

#card1{
    width: 75%;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */ */
}

#card1 .btnholder{
    width: 100%;
}

#card1 .btnholder button{
    width: 50%;
    float: left;
    height: 50px;
    font-size: 16px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
}

#card1 .btnholder button:hover{
    color: #F3F2EF;
    background-color: rgb(69, 69, 185);
}

#card1 .btnholder button#textpost{
    border-radius: 10px 0px 0px 0px;
    background-color: rgb(69, 69, 185);
    color: #fff;
}

button#mediapost{
    border-radius: 0px 10px 0px 0px;
}

#card1 form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#card1 form .row1{
    width: 90%;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;

}

#card1 form .row1 input, #card1 form .row1 select{
    flex: 1;
    font-size: 16px;
    padding: 12px;
}

#card1 form textarea{
    width: 94%;
    margin: 0 auto;
    font-size: 18px;
    font-family: 'Lexend', sans-serif;
    padding: 5px;
}

#card1 form input[type="button"]{
    width: 11%;
    margin: 10px;
    margin-top: 0;
    align-self: flex-end;
    font-size: 14px;
    padding: 16px 20px;
    background-color: rgb(69, 69, 185);
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

#card1 form input[type="button"]:hover{
    color: #fff;
    background-color: rgb(69, 69, 185, 0.8);
}

#card2{
    width: 20%;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.footer{
    display: none;
}

#card1 form input[type="text"]#caption-field{
    margin: 10px 0;
    width: 90%;
    font-size: 16px;
    padding: 12px;
}

@media(max-width: 500px){
    .container{
        flex-direction: column;
        width: 80%;
        margin-top: -8%;
    }

    #card1{
        width: 100%;
        margin: 40px 0;
        margin-bottom: 20px;
    }

    #card1 form input[type="button"]{
        width: 30%;
        margin: 10px 20px;
        align-self: flex-end;
        font-size: 14px;
        padding: 8px;
    }

    #card1 form .row1{
        flex-wrap: wrap;
    }

    #card2{
        width: 100%;
    }

    
    .footer{
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }
}