@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

input:focus{
    outline-color: rgb(69, 69, 185);
}

h1,a{
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

a{
    text-decoration: none;
}

.error{
    color: red;
    margin-top: -5px;
    font-family: 'Poppins';
    font-size: 12px;
}

.container{
    margin: 0 auto;
    margin-top: 6%;
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
/*
    background: #FFFFFF;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px; */

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.container a.forget{
    text-align: center;
    display: block;
    margin: 8px;
}

#registerForm {
    display: flex !important;
    flex-direction: column !important;
    width: 40%;
    margin-top: 18px;
}

#registerForm input{
    display: block;
}

#registerForm input[type="text"],
#registerForm input[type="password"],
#registerForm input[type="email"]{
    padding: 15px 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
}

#registerForm input[type="text"]:hover,
#registerForm input[type="password"]:hover{
    border: 1px solid rgb(69, 69, 185);
}


#registerForm input[type="submit"]{
    background-color: rgb(69, 69, 185);
    color: white;
    padding: 18px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    /* border: 2px solid rgb(69, 69, 185); */
}

#registerForm input[type="submit"]:hover{
    color: #fff;
    background-color: rgb(69, 69, 185, 0.8);
}

@media(max-width: 500px){
    .container{
        margin-top: 30%;
        width: 80%; 
    }

    #registerForm{
        width: 70%;
    }
}