.post-dp {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 1.4rem;
}
.shareButton{
    background-color: transparent;
    border: 0;

}
.c-90{
    margin-left: auto;
    margin-right: auto;
    width: 94%;
}
        body {
    background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}
#text-div{
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-height: 300px;
 
}

.scroll{
    max-height: 18.7rem;
    overflow: auto;
     max-height: 300px;
     overflow-y: scroll;
     
}
.own-dp {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 1.4rem;
}

.own-dp-div {
    width: 3.1rem;
    height: 4.8rem;
    font-size: medium;
}
.own-info-div {
    height: 2.6rem;
}
.own-info {
    margin-top: 0.8rem;
}

.info-link {
    /* text-decoration: none; */
    color: black;
}

.own-card {
    max-height: 190px;
}
.cmnt-dp {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 1.4rem;
}

.cmnt-dp-div {
    width: 3.1rem;
    height: 4.8rem;
    font-size: medium;
}
.cmnt-info-div {
    height: fit-content;
}
.cmnt-info {
    margin-top: 0.8rem;
    display: inline-block;
}

.cmnt-li {
    list-style-type: none;
    /* padding: 1rem; */
    height: fit-content;
}

hr {
    border-top-right-radius: 1px solid rgb(128, 128, 128);
    width: 100%;
}

.cmnts-div {
    overflow-y: scroll;
}

div {
    background-color: transparent;
}
.cmnt-btn {
    background-color: transparent;
    border: none;
}

.glass {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

@media screen and (min-width: 600px) {
    .h-6 {
        height: 600px;
    }
    .h-5 {
        height: 550px;
    }
    .cmnts-div {
        height: 300px;
    }
}
.mart-100{
    margin-top: 100px;
}
.cmnt-div{
    border-radius: 20px;
    margin-top: 10px;
}
.cmnt-input{
    border-radius: 20px;
    background-color: transparent;
    border: none;
}
.scroll{
    max-height: 18.7rem;
    overflow: auto;
}
input{
    outline: none;
}

.scroll::-webkit-scrollbar {
    width: 1px;
}
.cmnt-btn{
    border-radius: 20px;
    background-color: transparent;
}
.postHeading{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  }
@media screen and (max-width: 599px) {
    .li-cont{
        margin-bottom:auto;
    }

    .btm-mrgn{
        margin-bottom: 10vh;
    }

    .w3-sidebar{
        margin-left: 4.5vw !important;
        margin-top: -2vh !important;
    }
}